.video {
  margin-bottom: 16px;
  padding: 11.2px;

  font-weight: 500;
  font-size: 14.4px;
  

  cursor: pointer;
  &_top {
    margin-bottom: 8px;
    img {
      width: 100%;
      border-radius: 15px;
    }
    span {
      position: absolute;

      right: 25px;
      padding: 3.2px;
      background: #080808ec;
      border-radius: 3px;
      bottom: 125px;
      
    }
    
  }
  &_title {
    margin-bottom: 0.1 rem;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  &_details {
    display: flex;
    align-items: center;
  }
  &_channel {
display: flex;
align-items: center;
margin: 0.5rem 0;
img{
    width: 28px;
    height:25px;
    border-radius: 50%;
    cursor: pointer;
}
p{
    margin-bottom: 0;
}
  }
}
