.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 
  padding: 16px; 
 
}

.video-item {
  background-color: #000000;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative;
}

.video-item img {
  width: 100%;
  height: auto;
}

.video-info {
  padding: 8px;
  text-align: left;
  .video-meta {
    display: flex;
    align-items: center;
  }
  
  .video-meta p {
    margin: 0;
    color: gray; 
  }
  
  .video-meta p + p::before {
    content: "•";
    margin: 0 8px;
    color: gray; 
  }
  
}

.video-info h4 {
  font-size: 18px;
  margin: 8px 0;
}

.video-info p {
  color: white;
  font-size: 16px;
  margin: 4px 0;
}

.video-item:hover {
  transform: scale(1.05); 
}
.video-title {
  color: white;
}
.thumbnail {
  position: relative;
  span {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
  }
}
