.header {
    background-color: #000000;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
   
    .header__left {
      display: flex;
      
      align-items: center;
        margin-left: 30px;
        gap: 30px;
      .ytdad {
        
       
        width: 28%;
        cursor: pointer;
      }
      .vn {
        color: white;
        cursor: pointer;
      }
     
      .menuicon {
        color: white;
        font-size: 20px;
        padding: 10px 20px;
   
        border-radius: 20px 20px;
        cursor: pointer;
      }
      .menuicon:hover {
        background-color:#3F3F3F ;
        transition: 0.5s;
      }
     
    }
    .header__center {
      display: flex;
      align-items: center;
  
      .search-container {
        position: relative;
        display: flex;
        align-items: center;
  
        .input {
          padding-right: 30px; // Để trống không gian cho biểu tượng tìm kiếm
          background-color: #000000;
          border-radius: 25px 0px 0px 25px;
          padding: 5px 10px;
          width: 500px;
          height: 40px;
          border: 0.2px solid gray;
          color: white;
        }
      }
      .search {
        color: white;
        background-color: #222222;
        padding: 10px 20px;
        border-radius: 0px 25px 25px 0px;
        width: 64px;
        height: 40px;
        border: 0.2px solid gray;
      }
      .but {
       
        margin-left: 15px;
        margin-top: 5px;
        .icon_header{
        
          color: white;
          padding: 14px 17px;
          background-color: #272727;
          border-radius: 100%;
          cursor: pointer;

        }
        .icon_header:hover{
          background-color: #3F3F3F;
transition: 0.5s;
        }
        
      }
    }
 .header__right {
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
.cam{
  padding: 14px 17px;
  cursor: pointer;
  border-radius: 100%;
}
.cam:hover{
  background-color: #3F3F3F;
  transition: 0.5s;
}
.bell{
  padding: 14px 17px;
  border-radius: 100%;
  cursor: pointer;
}
.bell:hover{
  background-color:#3F3F3F ;
  transition: 0.5s;
}

}
}